
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "neue-kabel", sans-serif;
    background-color: #fffcef;
    color: #111;
}

.navbar {
    background-color: #411111;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
}

.navbar a:hover,
.navbar a.active {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    font-size: 64px;
    font-weight: 600;
    text-align: center;

    background-color: #4111116e;
    padding: 30px 40px;
}

.intro {
    padding: 60px 20%;
    text-align: center;
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    line-height: 1.6;
}

.page-title {
    text-align: center;
    padding: 50px 20px;
}

.page-title h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.page-title p {
    font-size: 18px;
}

.kunst-blokken {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0 10%;
}

.kunst-block {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.kunst-block.reverse {
    flex-direction: row-reverse;
}

.kunst-block img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.kunst-text {
    width: 50%;
}

.kunst-text h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.kunst-text p {
    font-size: 16px;
    line-height: 1.6;
}
.pijl {
    text-align: center;
    margin: 40px 0 80px 0;
    font-size: 16px;
    color: #111;
}

.pijl span {
    display: block;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
}

.arrow {
    font-size: 32px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
        opacity: 0.4;
    }
    50% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 0.4;
    }
}